<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OPT.PEOfficeCenter.LicenseManager.Properties.Settings.PEOfficeCenterConnectionString"
            connectionString="Data Source=DEV-QIANK;Initial Catalog=PEOfficeCenter;User ID=sa;Password=shishiqk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>