<configuration>
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="GZipHttpBinding">
                <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
                <httpTransport hostNameComparisonMode="StrongWildcard"
             manualAddressing="False"
             maxReceivedMessageSize="65536"
             authenticationScheme="Anonymous"
             bypassProxyOnLocal="False"
             realm=""
             useDefaultWebProxy="True" />
              
        </binding>
      </customBinding>
    </bindings>

    <!-- Adds the extension dll so the WCF can find the compactMessageEncoder -->
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
